<mat-toolbar color="primary">
  <span>Megalínea Requests</span>
  <span class="spacer"></span>

  <!-- Rol -->
  <mat-form-field appearance="fill">
    <mat-label>User Role</mat-label>
    <mat-select [(value)]="selectedUserRole" (selectionChange)="changeUser(selectedUserRole, selectedUserName)">
      <mat-option value="APPROVER">Approver</mat-option>
      <mat-option value="REQUESTER">Requester</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Nombre -->
  <mat-form-field appearance="fill">
    <mat-label>User Name</mat-label>
    <mat-select
      [(value)]="selectedUserName"
      (selectionChange)="changeUser(selectedUserRole, selectedUserName)"
      [disabled]="!selectedUserRole">
      <mat-option *ngFor="let name of (selectedUserRole === 'APPROVER' ? approvers : requesters)" [value]="name">
        {{ name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Notificación -->
  <button mat-icon-button [matBadge]="pendingCount" matBadgeColor="warn">
    <mat-icon>notifications</mat-icon>
  </button>
</mat-toolbar>
