.container {
  margin: 20px;
}

.table-container {
  overflow: auto;
  max-height: 70vh;
}

.mat-mdc-row:hover {
  background-color: #f5f5f5;
}

.pending {
  color: orange;
}

.approved {
  color: green;
}

.rejected {
  color: red;
}
