<h2 mat-dialog-title>Nueva Solicitud</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Titulo</mat-label>
    <input matInput [(ngModel)]="requestData.title" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Descripcion</mat-label>
    <textarea matInput [(ngModel)]="requestData.description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Tipo</mat-label>
    <input matInput [(ngModel)]="requestData.type" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</div>